.example-card {
    width: 80%;
  }

img {
    max-width: 100%;
}

.svcinfo {
  margin: 5px;
}

a {
  color: darkslateblue;
  text-decoration: none;
}

::ng-deep .app-card-list {
  display: flex;
  width: 100%; 
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-card {
    margin:5%;
}

section {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }