<section>
    <div class="example-label">AI 카드추천</div>
    <mat-slide-toggle [(ngModel)]="keepdata.isMale" (change)="changeToggle($event)">{{(keepdata.isMale ? '남' : '여')}}</mat-slide-toggle>
    <mat-slider [(ngModel)]="keepdata.age" (change)="changeAgeSlider($event)" thumbLabel [displayWith]="formatLabel" min="2" max="5" step="1" value="4"></mat-slider>
    {{'' + keepdata.age + '0대'}}
</section>


<mat-card *ngFor="let card of card_list; let idx = index" class="example-card" (click)='select(card, idx)'>
  <!-- <a href="https://www.shinhancard.com{{card.url}}"> -->
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{card.name}}</mat-card-title>
      <mat-card-subtitle>{{card.smrtt}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <div style='display:flex'>
        <div style='max-width:60%;'>
        <img src="http://www.shinhancard.com{{card.img}}" alt={{card.id}}>
    </div>
    <div style='max-width:40%;'>
      <div class="svcinfo">
        {{card.svcInfo1}}
      </div>
      <div class="svcinfo">
        {{card.svcInfo2}}
      </div>
      <div class="svcinfo">
        {{card.svcInfo3}}
      </div>
    </div>
    </div>
    </mat-card-content>
  <!-- </a> -->
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="refresh()">더 이상 원하는 카드가 없어요. 새로운 카드를 보여주세요</button>
</div>

<!-- <textarea matInput [(ngModel)]="keepdata"></textarea> -->