.example-card {
    width: 400px;
  }

img {
    max-width: 100%;
}

::ng-deep .app-card-list {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-card {
    margin:20px;
}

section {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin:20px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    justify-content: center;
    width: 500px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }